*.log
*.log.*
*.bak
logs
/configs/*.py
/.cursor
.vscode/
__pycache__/
*.log

.python-version
Pipfile.lock
poetry.lock
# Environments
.env
.cursor
.env.mcp-client
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.coverage
coverage.xml
.pytest_cache/
/htmlcov

*.egg-info
*.db
/docs
/.specstory
/.cursorindexingignore